<div class="container">
    <div class="row">
        <h4>Nova URL encurtada</h4>
        <form class="col s12" [formGroup]="form">
            <div class="row">
                <div class="input-field col s11">
                    <input id="url" type="url" class="validate" formControlName="url">
                    <label for="url" class="active">Digite a nova URL aqui</label>
                </div>
                <button type="button" class="waves-effect waves-light btn" (click)="generateUrl()" [disabled]="!form.valid">GERAR</button>
            </div>
        </form>

        <h4>URL gerada</h4>
        <div class="row">
            <div class="input-field col s11">
                <input id="generated_url" placeholder="" type="url" [ngClass]="generatedUrl.value ? 'valid' : ''" #generatedUrl readonly>
                <label for="generated_url" class="active">URL gerada</label>
            </div>
            <button type="button" class="waves-effect waves-light btn" (click)="copy(generatedUrl.value)">COPIAR</button>
        </div>

        <button type="button" class="waves-effect waves-light btn" routerLink="/listagem">VISUALIZAR SUAS URLS</button>
    </div>
</div>