<div class="container">
    <div class="row">
        <h4>Nova URL encurtada</h4>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s11">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Digite a nova URL aqui</label>
                </div>
                <a class="waves-effect waves-light btn">GERAR</a>
            </div>
        </form>

        <h4>URL gerada</h4>
        <div class="input-field col s11">
            <input id="last_name" type="text" class="validate" disabled>
            <label for="last_name">URL gerada</label>
        </div>

        <a class="waves-effect waves-light btn" routerLink="/listagem">VISUALIZAR SUAS URLS</a>
    </div>
</div>