<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Suas URLs <a class="waves-effect waves-light btn" routerLink="/home">GERAR NOVA</a></h4>
            <div class="center">Não foi encontrada nenhuma URL!</div> 
            <table *ngIf="pagination?.totalNumberOfElements > 0">
                <thead>
                    <tr>
                        <th>URL encurtada</th>
                        <th>URL original</th>
                        <th>Data da geração</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let url of urls">
                        <td><a href="{{ url.generatedUrl }}">{{ url.generatedUrl }}</a></td>
                        <td><a
                                href="{{ url.originalUrl }}">{{ url.originalUrl }}</a>
                        </td>
                        <td class="date">{{ url.date | date:'dd/MM/yyyy HH:mm' }}</td>
                    </tr>
                </tbody>
            </table>
            <app-pagination [pagination]="pagination" (changePage)="pageChanged($event)"></app-pagination>
        </div>
    </div>
</div>