<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>Suas URLs <a class="waves-effect waves-light btn" routerLink="/home">GERAR NOVA</a></h4> 
            <table>
                <thead>
                    <tr>
                        <th>URL encurtada</th>
                        <th>URL original</th>
                        <th>Data da geração</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><a href="https://cutt.ly/Bjj04RE">https://cutt.ly/Bjj04RE</a></td>
                        <td><a
                                href="https://github.com/wen-dell/url-shortener">https://github.com/wen-dell/url-shortener</a>
                        </td>
                        <td class="date">07/01/2021</td>
                    </tr>
                    <tr>
                        <td><a href="https://cutt.ly/Bjj04RE">https://cutt.ly/Bjj04RE</a></td>
                        <td><a
                                href="https://github.com/wen-dell/url-shortener">https://github.com/wen-dell/url-shortener</a>
                        </td>
                        <td class="date">07/01/2021</td>
                    </tr>
                    <tr>
                        <td><a href="https://cutt.ly/Bjj04RE">https://cutt.ly/Bjj04RE</a></td>
                        <td><a
                                href="https://github.com/wen-dell/url-shortener">https://github.com/wen-dell/url-shortener</a>
                        </td>
                        <td class="date">07/01/2021</td>
                    </tr>
                    <tr>
                        <td><a href="https://cutt.ly/Bjj04RE">https://cutt.ly/Bjj04RE</a></td>
                        <td><a
                                href="https://github.com/wen-dell/url-shortener">https://github.com/wen-dell/url-shortener</a>
                        </td>
                        <td class="date">07/01/2021</td>
                    </tr>
                    <tr>
                        <td><a href="https://cutt.ly/Bjj04RE">https://cutt.ly/Bjj04RE</a></td>
                        <td><a
                                href="https://github.com/wen-dell/url-shortener">https://github.com/wen-dell/url-shortener</a>
                        </td>
                        <td class="date">07/01/2021</td>
                    </tr>
                </tbody>
            </table>
            <app-pagination></app-pagination>
        </div>
    </div>
</div>