<app-nav [hide]="true"></app-nav>

<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <h2 class="header">Entrar</h2>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12" [formGroup]="form">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="username" type="text" class="validate" formControlName="username">
                                        <label for="username">Digite o seu usuário</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="password" type="password" class="validate" formControlName="password">
                                        <label for="password">Digite a sua senha</label>
                                    </div>
                                </div>
                            </form>                    
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" (click)="login()">ENTRAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>